{% if page.header_top_left or page.header_top_right or header_login_links %}
  <div class="header-top">
    <div class="container">
      <div class="header-top-container">
        {% include '@thex/template-parts/header/header-top-left.html.twig' %}
        {% include '@thex/template-parts/header/header-top-right.html.twig' %}
        {%  if header_login_links %}
          {% include '@thex/template-parts/header/header-login.html.twig' %}
        {% endif %}
      </div><!-- /header-top-container -->
    </div><!-- /container -->
  </div><!-- /header-top -->
{% endif %}
{% include '@thex/template-parts/header/header.html.twig' %}